<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h4>Forecast By City</h4>
		
		 <!-- to make the submission work on pressing enter -->
	<form ng-submit="submit('#/city')">
	
	
		<div class="form-group">
		<input type="text" class="form-control" ng-model="city" />
		<!-- <br />
		
		<input type="text" class="form-control" ng-model="units" /> -->
		</div>
			<br/>
		 <a href="#/city" class="btn btn-primary">Get Forecast</a> 
	
		
		 <!-- to make the submission work on pressing enter -->
		<!-- <input type="submit" class="btn btn-primary" value="Get Forecast" /> -->
	
	
	</form>
	</div>
</div>